{% extends "base.html.twig" %}



{% block body %}

    {# {{ dump(app.flashes('success')) }} #}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success col-md-6 mx-auto text-center">{{message}}</div>
    {% endfor %}

    <div class="col-md-4 mx-auto">
        {# Première méthode pour afficher un formulaire #}
        {# {{ form(formCategory) }} #}

        {# Deuxième méthode pour différencier les champs #}
        {{ form_start(formCategory) }} {# Balise ouvrante (<form>) #}

            <div class="col-md-10 mx-auto">
                {{ form_row(formCategory.name) }} {# form_row permet d'afficher un champ particulier. Elle attend en paramètre le formulaire en question suivi du champ que je souhaite afficher. #}
            </div>

                {{ form_row(formCategory.Ajouter) }}
            {# <div class="">
            </div> #}

            {# <button class="d-block mx-auto btn btn-success">Ajouter2</button> #}
        {{ form_end(formCategory) }} {# Balise fermante ((</form>)) #}
        
    </div>

{% endblock %}